$textColor: #fff;
$textColor--secondary: #000;
$textColor--other: #BD54BF;
 //bg
$bgColor1: #8a4577;
$bgColor2: #672e68;
$bgColor3: #000000;
$bgColor4: #425581;
$bgColor5: #466185;
$bgColorWhite: #fff;
//bg mask
$mask: #000;